<!DOCTYPE html>
<html>
  <head lang='zh-CN'>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="author" content="CanWung">
    <meta name="description" content="Homepage of C4Nstudio">
    <meta name="keywords" content="C4N,CanWung,React,Foundation,Node.js">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- This element's contents will be replaced with react component. -->
    <div id="global-container"><%- reactOutput %></div>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
